/*body {*/
    /*font-size: 10px;*/
    /*font-family: Ubuntu;*/
    /*font-weight: normal;*/
/*}*/


/* -------------------------------------------------------------------------- */
/* specific element design */

/* individual style for displaying elements weather id */
/*#weather {*/
    /*width: 500px;*/
    /*margin: 0px auto;*/
    /*text-align: center;*/
    /*text-transform: uppercase;*/
/*}*/

/* individual style for displaying elements calendar id */
/*#calendar {*/
    /*width: 500px;*/
    /*margin: 0px auto;*/
    /*text-align: center;*/
    /*text-transform: uppercase;*/
/*}*/


/* -------------------------------------------------------------------------- */
/* layout */
.flex-container {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.flex-container > div {
    background-color: #f1f1f1;
    border: #000000 1px;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

