<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>My Smart Mirror</title>
{#   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">#}
    <style>
        .flex-container {
            display: flex;
            justify-content: center;
            background-color: #ffffff;
        }

        .flex-container > div {
            background-color: #f1f1f1;
            border: #000000 1px;
            width: 30%;
            margin: 10px;
            text-align: left;
            padding: 2.5%;
            line-height: 75px;
            font-size: 30px;
        }
    </style>
 </head>

 <body>

{#    <h1> Herold's Smart Mirror </h1>#}

    <div class="flex-container">
        <div>{{ weather.json().main.temp }}°</div>
        <div>2</div>
        <div>3</div>
    </div>

    <p>
        {{ weather.text }}
    </p>

 </body>

</html>
